<div class="order-process-container">
  <div class="cart-confirm-container">
    <div class="cart-heading text-center">
      <h2> My recipes </h2>
      <hr>
    </div>

    <% @recipes.each do |recipe|  %>
      <div class="row order-item-cart">

        <div class="col-xs-12 col-sm-4">
          <div class="order-picture">
            <%= image_tag recipe.photo %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 order-item-col-centered">
          <p><%= recipe.name %></p>
        </div>

        <div class="col-xs-12 col-sm-4 order-item-col-centered">
          <%= link_to recipe_path(recipe) do %>
            <img src="<%= asset_path "magnifyingglass2.png"%>" style = "width: 15px; display: flex;
  align-items: flex-end;">
              <% end %>
        </div>

      </div>
    <% end %>

  </div>
</div>








