<div class="wrapper">
  <div class="container">
    <h1>Your Shopping Cart</h1>

    <div class="order-items">
      <%= image_tag "test_pictures/tuscan_chicken.jpg", class: "test_pictures" %>
      <h3>Tuscan Chicken</h3>
      <p>Quantity:</p>

    </div>


  </div>






</div>
