<div class="order-process-container">
  <div class="cart-confirm-container">
    <div class="cart-heading text-center">
      <h2>My orders</h2>
      <hr>
    </div>

    <% @orders_pending.each do |orders_pending| %>
    <div class="row order-item-cart">
      <div class="col-xs-12 col-sm-3">
        <p><%= orders_pending.name%></p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p><%= orders_pending.created_at.strftime("%B, %d, %Y")%></p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p><%= orders_pending.price%></p>
      </div>
    </div>
    <%end%>


  </div>
</div>



