
<div class="wrapper-grey padded text-center">

<div class="cart-heading text-center">
<h1> My orders </h1>
</div>


<% @orders_confirmed.each do |orders_confirmed| %>

 <div class="col-xs-12 col-sm-3 order-item-col-centered">
  <div class="order-picture">
    <p><%= orders_confirmed.name%></p>

    <% end %>
</div>
</div>
</div>




