.banner {
  color: white;
  text-align: center;
  height: 70vh;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 75px;
    text-shadow: 0px 1px ;
    font-family: $banner-font;
    letter-spacing: 1px;
  }
  p {
    font-size: 40px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-family: $banner-font;
    letter-spacing: 1px;
  }
  .home-button {
    background-color: $red;
    opacity: 0.9;
    color: $white;
    padding: 15px 20px;
    border-radius: 4px;
    transition: background 0.3s ease;
    border: none;
    font-family: $base-font;
  }
  .home-button:hover {
    background: $red;
    opacity: 0.8;
    text-decoration: none;
    color: $white;
  }
}
.recipe-category-title {
    position: relative;
    z-index: 4;
    overflow: hidden;
    text-align: center;
    font-family: $banner-font;
    font-size: 48px;
  &:before, &:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 1px;
      content: '\a0';
      background-color: $blue-darker;
  }
  &:before {
      margin-left: -50%;
      text-align: right;
  }
}
.recipe-category-title-start {
  text-align: center;
  color: inherit;
  font-family: $banner-font;
}
.features-container {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: $gray-background;
  .features {
    padding-top: 15px;
    p {
      margin: 0 38px;
    }
    img {
      height: 110px;
      margin-bottom: 25px;
    }

  }
}
.weekly-section {
  background-color: $gray-background;
  padding-top: 15px;
  padding-bottom: 15px;
}
.weekly-container {
  background-color: $gray-background;
}
.card-price {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.recipe-container {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 4px;
  padding-top: 40px;
  overflow: hidden;

  a:focus {
    outline: none;
  }
}
.recipe-picture {
  height: 220px;
  width: 100%;
  background-size: cover !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.recipe-footer {
  background-color: $white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 130px;
  position: relative;
}
.recipe-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.recipe-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipe-price {
  font-size: 20px;
  font-weight: 400;
}
.buttons-inline {
  display: flex;
  align-items: center;
}
.weekly-buttons {
  display: table;
  vertical-align: middle;
}
.weekly-quantity-text-text {
  display: table-cell;
  padding-right: 10px;

}
.recipe-select {
  margin-left: 5px;
  background-color: $red;
  opacity: 0.9;
  color: $white;
  border-radius: 4px;
  font-family: $base-font;
  padding: 3px 10px;
  font-weight: 300px;
  font-size: 20px;
  border: 0px solid $red;
  &:hover {
  opacity: 0.8;
  text-decoration: none;
  color: $white;
  }
}
.quantity-count {
  margin: 0;
}
.recipe-place-order-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 50px;
}
.recipe-place-order-button {
  background-color: $red;
  color: $white;
  opacity: 0.9;
  border-radius: 4px;
  font-family: $base-font;
  padding: 12px 36px;
  font-weight: 400px;
  font-size: 20px;
  &:hover {
  opacity: 0.9;
  text-decoration: none;
  color: $white;
  }
}
#newsletter {
  background-color: $gray-darker;
  opacity: 0.8;
  color: $white;
  p {
    font-size: 16px;
    font-family: $base-font;
  }
  h2 {
    font-family: $banner-font;
    letter-spacing: 0.8px;
  }
}
.contact-dinja-form {
  opacity: 1;
  margin-bottom: 40px;
}

