<div id="confirm-info-map" style='background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=<%= order.address %>&zoom=15&key=AIzaSyB43mAjLeq18-tumQ8ytChKGtMM_Rr1Wx0&size=1200x600&sensor=false&maptype=roadmap&markers=color:red|<%= order.address %>");
'>
</div>
