/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $white;
}
.alert-info {
<<<<<<< HEAD
  background: $green_dark;
=======
  background: $green-light;
>>>>>>> master
}
.alert-warning {
  background: $red;
}
