/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $white;
  border-color: none;
}
.alert-info {
  background: $blue;
  border-color: $blue;
  opacity: 0.5;
}
.alert-warning {
  background: $red;
  opacity: 0.5;
}

.close {
  opacity: 1;
  color: white;
}
