/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $white;
  border-color: none;
}
.alert-info {
  background: $green-light;
  border-color: $green-light;
}
.alert-warning {
  background: $red;
}
