.devise-container {
  margin: 50px 500px;
  padding: 40px;
  background-color: $white
}

.devise-login-heading {
  h2 {
    color: $blue;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0;
  }
  //hr {
    //text-align: center;
    //color: $blue;
    //background-color: $blue;
    //border: 1px solid;
    //width: 22%;
    //margin-left: 0;
    //margin-top: 5px;
  //}
  //.sign-up {
   // hr {
    //    width: 27%;
    //}
  // }
}
.devise-form-inputs {
  label {
    opacity: 0.5;
  }
  input:focus {
    border-color: $blue;
    box-shadow: none;
  }
}

.btn-log-in {
  background-color: $blue;
  color: $white;
  border-radius: 4px;
  font-family: $base-font;
  padding: 10px 30px;
  font-weight: 400px;
  font-size: 20px;
  border: none;
  width: 100%;
  &:hover {
  background-color: $blue;
  opacity: 0.8;
  text-decoration: none;
  color: $white;
  }
}


.facebook-button {
  background: #3A5B9A;
  padding: 15px 30px;
  border-radius: 5px;
  width: 100%;
  a {
    color: white;
  }
  i {
    margin-right: 10px;
    font-size: 20px;
  }
}

.police-links {
  font-family: $base-font;
  font-size: 15px;
  color : $gray;
}


.option {
  color: gray;
  font-style: italic;
  font-family: $base-font;
  font-size: 20px;
   position: relative;
   z-index: 4;
   overflow: hidden;
   text-align: center;
 &:before, &:after {
     position: absolute;
     top: 51%;
     overflow: hidden;
     width: 50%;
     height: 1px;
     content: '\a0';
     background-color: $gray-background;
 }
 &:before {
     margin-left: -50%;
     text-align: right;
 }
}



