// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-process-container {
  margin: 60px 250px;
}
.cart-confirm-container {
  background-color: $white;
  padding: 30px;
}

// Style for orders#edit
.cart-heading h2 {
  font-size: 28px;
}

.cart-heading hr {
  color: $blue;
  background-color: $blue;
  border: 1px solid;
  width: 25%;
}
.order-item-cart {
  margin: 10px 6px;
  padding: 6px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $gray-lighter;
  }
  h3 {
    margin: 0;
  }
}
.order-item-col-centered {
  padding-top: 20px;
  padding-bottom: 20px;
}
.order-picture {
  margin: 0 20px;
  img {
    height: 100px;
    border-radius: 5px;
    width: 100%;
  }
}
.orders-edit-quantity {
  display: flex;
  justify-content: space-around;
  i {
    font-size: larger;
    padding-left: 10px;
  }
}
.orders-total-trash {
  display: flex;
  justify-content: space-around;
  i {
    font-size: larger;
    padding-left: 10px;
  }
}
.orders-controls-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: larger;
  .fa-trash {
    color: black;
    &:hover {
      color: $red-dark;
    }
  }
}
.orders-controls-quantity {
  display: flex;
  justify-content: space-around;
}
.orders-controls-plus-minus {
  display: flex;
  justify-content: space-around;
  i {
    padding-top: 5px;
    padding-left: 20px;
  }
  .fa-minus {
    padding-right: 20px;
  }
  .fa-plus:hover {
    color: $green-dark;
  }
  .fa-minus:hover {
    color: $green-dark;
  }
}

.orders-checkout-button {
  background-color: $blue;
  color: $white;
  border-radius: 4px;
  font-family: $base-font;
  padding: 10px 30px;
  font-weight: 400px;
  font-size: 20px;
  border: none;
  &:hover {
  background-color: $blue;
  opacity: 0.8;
  text-decoration: none;
  color: $white;
  }
}

.btn-check-meals {
 background-color: $blue;
  color: $white;
  border-radius: 4px;
  font-family: $base-font;
  padding: 10px 30px;
  font-weight: 400px;
  font-size: 20px;
  border: none;
  &:hover {
  background-color: $blue;
  opacity: 0.8;
  text-decoration: none;
  color: $white;
  }
}

.no-items-in-cart {
  text-align: center;
}

// Style for orders#update
.order-confirm-heading hr {
  color: $blue;
  background-color: $blue;
  border: 1px solid;
  width: 40%;
}
.confirm-order-head-button {
  display: flex;
  justify-content: space-around;
}
.orders-confirmation-button {
  width: 100%;
  margin: 20px 0;
}


// Style for orders#show
.order-confirmation-heading hr {
  color: $blue;
  background-color: $blue;
  border: 1px solid;
  width: 20%;
}
.order-final-price {
  padding-right:55px;
  text-align: right;
  p {
    font-size: 20px;
  }
}

.order-item-checkout {
  background-color: $gray-background;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
.order-item-conf {
  margin: 6px;
  padding: 6px;
  transition: background-color 0.3s ease;
  h3 {
    margin: 0;
  }
  .order-item-col-centered {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.order-confirmation-heading h2 {
  font-size: 28px;
}







