// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.order-item {
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $gray-background;
  }
}
.test_picture {
  height: 100px;
  border-radius: 5px;
  // box-shadow:
}

.edit-quantity {
  display: inline;
  i {
    font-size: larger;
    padding-left: 10px;
  }
}
.picture {
  width: 300px;
  padding: 20px 20px 20px 0;

}
.price-quantity {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: larger;
}
.checkout {
  width: 100%;
  margin: 20px;
}

