.order-confirm-heading h2 {
  font-size: 28px;
}

.order-confirm-heading hr {
  color: $blue;
  background-color: $blue;
  border: 1px solid;
  width: 25%;
}

.payment-button {
  background-color: $blue;
  color: $white;
  border-radius: 4px;
  font-family: $base-font;
  padding: 10px 30px;
  font-weight: 400px;
  font-size: 20px;
  border: none;
  &:hover {
  background-color: $blue;
  opacity: 0.8;
  text-decoration: none;
  color: $white;
  }
}
