// Style for recipes#weekly

.recipe-category-title {
    position: relative;
    z-index: 4;
    overflow: hidden;
    text-align: center;
    font-family: $banner-font;
    font-size: 48px;
  &:before, &:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 1px;
      content: '\a0';
      background-color: $blue-darker;
  }
  &:before {
      margin-left: -50%;
      text-align: right;
  }
}
.recipe-category-title-start {
  text-align:center;
  color:inherit;
  font-family: $banner-font;
}
.features-container {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: $gray-background;
  .features {
    p {
      margin: 0 38px;
    }
    img {
      height: 110px;
      margin-bottom: 25px;
    }

  }
}

.weekly-section {
  background-color: $gray-background;
  padding-top: 15px;
  padding-bottom: 15px;
}
.weekly-container {
  background-color: $gray-background;
}
.card-price {
  width: 50px;
  border-radius: 50%;
}
.card-price {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.recipe-container {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 4px;
  padding-top: 40px;
  overflow: hidden;
}

.recipe-picture {
  height: 220px;
  width: 100%;
  background-size: cover !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.recipe-footer {
  background-color: $white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 130px;
  position: relative;
}

.recipe-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.recipe-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-price {
  font-size: 22px;
  font-weight: 400;
}
.buttons-inline {
  display: flex;
  align-items: center;
}
.recipe-select {
  margin-left: 5px;
  background-color: $red;
  opacity: 0.9;
  color: $white;
  border-radius: 4px;
  font-family: $base-font;
  padding: 3px 10px;
  font-weight: 300px;
  font-size: 20px;
  border: 0px solid $red;
  &:hover {
  opacity: 0.2;
  text-decoration: none;
  color: $white;
  }
}
.recipe-added-count {
  height: 34px;
}

.recipe-place-order-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 50px;
}
.recipe-place-order-button {
  background-color: $red;
  color: $white;
  border-radius: 4px;
  font-family: $base-font;
  padding: 12px 36px;
  font-weight: 400px;
  font-size: 20px;
  &:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  }
}

#newsletter {
  background-color: $gray-darker;
  opacity: 0.8;
  color: $white;
  p {
    font-size: 16px;
    font-family: $base-font;
  }
  h2 {
    font-family: $banner-font;
    letter-spacing: 0.8px;
  }
}
.contact-dinja-form {
  opacity: 1;
  margin-bottom: 40px;
}



// Style for recipes#show
.container-recipe-show {
  margin-top: 100px;
}
.recipe-info-show-1 {
  height: 100px;
  background-color: $white;
  margin: 0px auto 0px auto;
  display: flex;
  border: 1px solid #E7E7E7;
  align-items: center;
}
.recipe-show-name {
  flex: 1 0 auto;
  h3 {
  margin-top: 11px;
  padding: 12px;
  }
}
.recipe-info-details {
  display: flex;
  justify-content: flex-end;
}

// .recipe-close {
//   display: flex;
// }

.close {
  position: absolute;
  right: -53px;
  top: -25px;
  color: white;
  opacity: 1;
  border: 2px solid white !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.modal-recipe {
  .modal-dialog {
    width:1200px;
  }
}

.recipe-add-to-cart-button {
  color: $white;
  background-color: $red;
  font-family: $base-font;
  opacity: 0.9px;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 300px;
  font-size: 20px;
  transition: background 0.3s ease;
  border: none;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: $white;
  }
}
.recipe-added-count-in-show {
  margin-bottom: 7px;
  height: 48px;
  font-size: 20px;
}
.recipe-show-cart {
  color: #E45F56;
  font-size: 46px;
  margin: 0 10px;
}

.recipe-info-show-2 {
  height: 400px;
  background-color: #E7E7E7;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  margin: 0px auto;
  display: flex;
  .recipe-image {
    margin: 0 -15px;
    min-height: 399px;
    background-size: cover !important;
    background-position: center center;
  }
  .recipe-show-tab-container {
    padding: 0;
  }
  .recipe-show-tabs-section {
    width: 100%;
    flex: 0 0 auto;
    background-color: $white;
    overflow: auto;
    padding-right: -20px;
  }
  .recipe-show-tab-list {
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
}
.recipe-show-tab {
  flex: 0 0 33%;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.8px;
  background-color: #F0F0F0;
  opacity: 0.8;
  text-align: center;
  .details {
    border-right: 1px solid gray;
  }
  .ingredients {
    border-right: 1px solid gray;
  }
  &:hover {
    opacity: 1;
  }
}
.recipe-show-tab.active {
  border-bottom: 5px solid $blue-dark;
  opacity: 1;
}
.recipe-show-tab-content {
  border-left: 0.2px solid $gray-lighter;
  border-right: 0.2px solid $gray-lighter;
  border-bottom: 0.2px solid $gray-lighter;
  height: calc(400px - 60px);
  overflow: scroll;
  text-align: left;
  padding: 30px;
  font-size: 18px;
}


