// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title-start {
text-align:center;
color:inherit;
font-family: "amatic";
}
.wrapper-grey {
  background-color: $gray-background;
}

.container{
  background-color:$gray-background;
}

.card-price {
  width: 50px;
  border-radius: 50%;
}
.card-price {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.card-price {
  width: 50px;
}
.recipe {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  font-family: "amatic";
  margin-bottom: 25px;
}
.recipe-category {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.recipe-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.recipe-description h2 {
  font-size: 24px;
  text-align: center;
}
.recipe-description p {
  font-size: 13px;
  text-align: center;
}
.recipe-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: $gray-background;
  opacity: 0;
}
.recipe-link:hover{
  opacity: 0.1;
}


// Style for recipes#show
.recipe-info-show-1 {
  height: 100px;
  background-color: $white;
  margin: 0px auto 0px auto;
  display: flex;
  border: 1px solid #E7E7E7;
  align-items: center;
}
.recipe-name {
  flex: 1 0 auto;
}
.recipe-name h3 {
  margin-top: 11px;
}
.recipe-info-details {
  display: flex;
  justify-content: flex-end;
}
.recipe-price {
  flex: 0 0 20%;
  // padding: 10px;
}
.prep-time {
  flex: 0 0 20%;
  // padding: 10px;
}
.cooking-time {
  flex: 0 0 20%;
  // padding: 10px;
}
.recipe-add {
  padding-right: 20px;
  text-align: right;
}


.btn {
  background-color: $red;
  opacity: 0.9;
  color: $white;
  padding: 15px 20px;
  border-radius: 4px;
  transition: background 0.3s ease;
  border: none;
  font-family: $base-font;
}
.btn:hover {
  background: $red;
  opacity: 0.5;
  text-decoration: none;
  color: $white;
}

.recipe-info-show-2 {
  // width : 1200px;
  height: 400px;
  background-color: #E7E7E7;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  margin: 0px auto;
  display: flex;
  .recipe-image {
      padding: 30px;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  .tabulation {
    width: 100%;
    flex: 0 0 auto;
    background-color: $white;
    overflow: auto;
  }
  .tab-list {
    padding: 0;
    display: flex;
    justify-content: space-around;
     // background-color: $red;
  }
}
.tab-content {
  border-left: 0.2px solid $gray-lighter;
  border-right: 0.2px solid $gray-lighter;
  border-bottom: 0.2px solid $gray-lighter;
  height: calc(400px - 54px);
  overflow: scroll;
}
.tabs {
 flex: 0 0 33%;
 font-size: 18px;
 padding-top: 11px;
 padding-bottom: 11px;
 letter-spacing: 0.8px;
 background-color: $red;
 opacity: 0.8;
 text-align: center;
 .details {
   border-right: 1px solid gray;
 }
 .ingredients {
   border-right: 1px solid gray;
 }
  &:hover {
    opacity: 1;
  }
}
.tabs.active {
  border-bottom: 5px solid $green-dark;
  opacity: 1;
}
.setting {
  text-align: left;
  padding: 30px;
  font-size: 18px;
}


.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
